root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = tab
# tab_width is not set to allow the readers preferred width
trim_trailing_whitespace = true

[*.yml]
indent_style = space
indent_size = 2
